{
  "root": "{{ stepca_root_ca_path }}",
  "federatedRoots": null,
  "crt": "{{ stepca_certs_dir }}/intermediate_ca.crt",
  "key": "{{ stepca_secrets_dir }}/intermediate_ca_key",
  "address": "{{ stepca_address }}",
  "insecureAddress": "",
  "dnsNames": {{ ([stepca_address.split(':')[0]] + stepca_dns_names) | to_json }},
  "logger": {
    "format": "json"
  },
  "db": {
    "type": "{{ stepca_db_type }}",
    "dataSource": "{{ stepca_db_datasource }}"
  },
  "authority": {
    "provisioners": [
      {
        "type": "ACME",
        "name": "{{ stepca_acme_provisioner_name }}"
      }
    ]
  },
  "tls": {
    "cipherSuites": [
      "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
      "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
    ],
    "minVersion": 1.2,
    "maxVersion": 1.3,
    "renegotiation": false
  }
}
