# {{ ansible_managed }}
[Unit]
Description=Restic backup: {{ item.key }}
After=network-online.target

[Service]
Type=oneshot
User={{ restic_user }}
ExecStart={{ restic_script_dir }}/backup-{{ item.key }}.sh
Environment="CRON=1"

[Install]
WantedBy=multi-user.target
