# {{ ansible_managed }}
# Caddy Configuration
# Custom role for Debian 13 Trixie

# Global options
{
	email {{ caddy_email }}
{% if caddy_acme_ca | length > 0 %}
	acme_ca {{ caddy_acme_ca }}
{% endif %}
}

# Virtual hosts - Reverse proxy with automatic HTTPS
{% for site in caddy_sites %}
{{ site.domain }} {
	reverse_proxy {{ site.backend }}
}

{% endfor %}
