# {{ ansible_managed }}
[Unit]
Description=Restic check: {{ item.key }}
After=network-online.target

[Service]
Type=oneshot
User={{ restic_user }}
ExecStart={{ restic_script_dir }}/check.sh {{ item.key }}

[Install]
WantedBy=multi-user.target
