---
- name: Install fail2ban
  ansible.builtin.package:
    name: fail2ban
    state: present
  when: security_fail2ban_enabled

- name: Configure fail2ban jail
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'
  when: security_fail2ban_enabled
  notify: Restart fail2ban

- name: Ensure fail2ban service is enabled
  ansible.builtin.systemd:
    name: fail2ban
    enabled: yes
    state: started
  when: security_fail2ban_enabled
