---
- name: Install nftables
  ansible.builtin.package:
    name: nftables
    state: present

- name: Deploy nftables configuration
  ansible.builtin.template:
    src: nftables.conf.j2
    dest: /etc/nftables.conf
    owner: root
    group: root
    mode: "0644"
    validate: nft -c -f %s
  when: security_firewall_enabled
  notify: Restart nftables

- name: Enable and start nftables service
  ansible.builtin.systemd:
    name: nftables
    enabled: yes
    state: started
  when: security_firewall_enabled
