---
- name: Load distro-specific variables
  include_vars: "{{ ansible_distribution }}.yml"

- name: Update package cache (Debian)
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_distribution == "Debian"

- name: Harden SSH
  import_tasks: ssh.yml

- name: Configure firewall
  import_tasks: firewall.yml

- name: Setup automatic security updates
  import_tasks: updates.yml

- name: Configure fail2ban
  import_tasks: fail2ban.yml

- name: Configure journald
  import_tasks: journald.yml

- name: Configure sudo
  import_tasks: sudo.yml
