---
# roles/security_hardening/tasks/sudo.yml
#
# Task:
#   Configure sudo hardening and automation access.
#
# Result:
#   Creates /etc/sudoers.d/99-security-hardening from template
#   Removes /etc/sudoers.d/00-ansible-bootstrap after new config is in place
#

- name: Configure sudo hardening and automation access
  become: yes
  ansible.builtin.template:
    src: 99-security-hardening.j2
    dest: /etc/sudoers.d/99-security-hardening
    owner: root
    group: root
    mode: "0440"
    validate: /usr/sbin/visudo -cf %s

- name: Remove bootstrap sudo configuration
  become: yes
  ansible.builtin.file:
    path: /etc/sudoers.d/00-ansible-bootstrap
    state: absent
