---
# PostgreSQL Database Restore
# Executes pg_restore.sh script deployed by postgresql role
# Usage: ansible-playbook -i inventory/lab playbooks/postgresql_restore.yml --limit <target> -e "restore_file=<path> restore_database=<db>"

- name: Restore PostgreSQL database
  hosts: all
  become: yes
  gather_facts: yes

  vars:
    restore_file: ""
    restore_database: "{{ postgresql_databases[0].name | default('') }}"

  tasks:
    - name: Validate restore file parameter
      ansible.builtin.fail:
        msg: "restore_file parameter is required. Usage: -e restore_file=/path/to/backup.dump"
      when: restore_file == ""

    - name: Execute restore script
      ansible.builtin.command:
        cmd: "{{ postgresql_scripts_dir | default('/usr/local/bin') }}/pg_restore.sh -y {{ restore_file }} {{ restore_database }}"
      become_user: "{{ postgresql_admin_user | default('postgres') }}"
      register: restore_result

    - name: Display restore output
      ansible.builtin.debug:
        var: restore_result.stdout_lines
