---
# PostgreSQL Database Backup
# Executes pg_backup.sh script deployed by postgresql role
# Usage: ansible-playbook -i inventory/lab playbooks/postgresql_backup.yml --limit <target> -e "backup_database=<db>"

- name: Backup PostgreSQL database
  hosts: all
  become: yes
  gather_facts: yes

  vars:
    backup_database: "{{ postgresql_databases[0].name }}"

  tasks:
    - name: Execute backup script
      ansible.builtin.command:
        cmd: "{{ postgresql_scripts_dir | default('/usr/local/bin') }}/pg_backup.sh {{ backup_database }}"
      become_user: "{{ postgresql_admin_user | default('postgres') }}"
      register: backup_result

    - name: Display backup output
      ansible.builtin.debug:
        var: backup_result.stdout_lines
